<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CRUD</title>
		<meta charset="UTF-8">

		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

		<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script> 
		<script src="/bower_components/bootstrap/js/button.js"></script>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" media="all">
		<script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>

		<script src="/js/module.js"></script>
		<script src="/js/controllers.js"></script>
		<script src="/js/services.js"></script>

		<link rel="stylesheet" href="/css/style.css" media="all"> 
	</head>

	<body ng-app="appName" ng-controller="mainController">
		<div class="container">

			<h1>CRUD</h1>


			<div class="row">
				<div class="col-sm-6">

					<form ng-submit='addOneItem(newItem)'>
						<div class="form-group">
							<label>Item Name</label>
							<input class="form-control" type="text" placeholder="Name of Item" ng-model='newItem.name' required>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>

				</div>
			</div>


			<div class="table-container">
				<ui-view></ui-view>
			</div>


		</div>
	</body>
</html>

