<div ng-controller="managerController">
	<h1>Flashcard Manager</h1>
	<div class="row">
		<div class="col-sm-6">

			<form ng-submit='addOneItem(newItem)'>

				<div class="form-group">
					<label>Question</label>
					<input class="form-control" type="text" placeholder="Question" ng-model='newItem.question' required>
				</div>

				<div class="form-group">
					<label>Answer</label>
					<input class="form-control" type="text" placeholder="Answer" ng-model='newItem.answer' required>
				</div>

				<div class="form-group">
					<label>Category</label>
					<input class="form-control" type="text" placeholder="Category" ng-model='newItem.category' required>
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

		</div>
	</div>


	<div class="table-container">
		<table class="table">
			<thead>
				<th>Question</th>
				<th>Answer</th>
				<th>Category</th>
			</thead>
			<colgroup>
				<col style="width:30%">
				<col style="width:30%">
				<col style="width:20%">
				<col style="width:20%">
			</colgroup>  

			<tr ng-repeat='item in itemArray track by $index'>

				<td ng-show="!editing">
					{{item.question}}
				</td>

				<td ng-show="!editing">
					{{item.answer}}
				</td>

				<td ng-show="!editing">
					{{item.category}}
				</td>

				<td ng-show="!editing" class="buttons-cell">
					<button class="edit-button btn btn-primary" ng-click="editItem = item; editing = true">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
					<button class="delete-button btn btn-danger " ng-click="removeOneItem(item)">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</td>

				<td ng-show="editing">
					<input type="text" ng-model="editItem.question">
				</td>

				<td ng-show="editing">
					<input type="text" ng-model="editItem.answer">
				</td>

				<td ng-show="editing">
					<input type="text" ng-model="editItem.category">
				</td>

				<td ng-show="editing" class="buttons-cell">
					<button class="save-button btn btn-success" ng-click="editing = false;editOneItem(editItem,item);">
						<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
					</button>
					<button class="cancel-button btn btn-danger" ng-click="editing = false">
						<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
					</button>
				</td>

			</tr>

		</table>

	</div>
</div>

